doctype html
html
  head
    title testing
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description' content="meta desc")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", type="text/css", href="css/styles.css")

  body

    //- button.Stackednav__button.hide-desktop
    //-   .Stackednav__trigger.js-nav-trigger
    //-     .Stackednav__bar
    //-     .Stackednav__bar
    //-     .Stackednav__bar

    .container
      .Grid
        .Cell.six
          h3 cell one
        .Cell.six
          h3 cell two
          p regular
          p.at16 regular at 16

    section.Main-content
      h1 testing


    footer.site-footer

      //- put your content here
      .container
        p.text-right Footer text.

    script(type="text/javascript", src="js/main.js")
