doctype html
html
  head
    title testing
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description' content="meta desc")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", type="text/css", href="css/style.css")

  body

    //- button.Stackednav__button.hide-desktop
    //-   .Stackednav__trigger.js-nav-trigger
    //-     .Stackednav__bar
    //-     .Stackednav__bar
    //-     .Stackednav__bar

    .Grid.Home
      .Cell.six.Left-pane
        .Left-pane__image
        .Left-pane__content
          h3.animate.fadeInUp hi, i'm alex
          
      .Cell.six.Right-pane
        h3 cell two
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque reprehenderit tempore fugit, similique quam facere, sed itaque labore totam recusandae id dignissimos. Perferendis assumenda, culpa nemo! Nobis sunt ducimus incidunt.



    script(type="text/javascript", src="js/main.js")
