.Work
  transition: all .4s
  position: absolute
  top: 0
  
  width: 100%
  z-index: 10

.Work-1
  left: 100%
  position: relative
  .Cell
    height: 100vh
  .Left-
    background-color: rgba(darken(red, 10%), .8)
  .Right-
    background-color: rgba(red, .8)
