.Work
  position: absolute
  top: 0
  
  width: 100%
  z-index: 10

.Work-item
  left: 100%
  position: relative
  .Cell
    padding-bottom: 15vh
    padding-top: 15vh
    transition: .6s ease-in-out both
    +above($medium)
      height: 100vh
      overflow-y: auto
      -webkit-overflow-scrolling: touch
    &::-webkit-scrollbar
      display: none
  
  .Left-pane
    background-color: $light
    
    &__content
      +above($medium)
        padding: 6em
        top: 0
        transform: none

  .Right-pane
    background-color: $lightest
    // box-shadow: 2px 0px 41px rgba(0,0,0,.2)
    padding: 0
    &__content
      padding: 20vh 3em 3em
      +above($medium)
        padding: 6em


.Project__title
  &:after
    background-color: rgba($brown, .3)
    content: ''
    display: block
    height: 1px
    margin: 1em 0
    width: 30%

.Project__role
  font-weight: bold
  // font-family: 'Varela Round', sans-serif


.Portfolio__image
  transition: all .6s ease-in-out
  &.scaleImage
    transform: scale(2)
  &:hover
    cursor: zoom-in
