doctype html
html
  head
    title testing
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description' content="meta desc")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", type="text/css", href="css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Varela+Round" rel="stylesheet")

  body

    //- button.Stackednav__button.hide-desktop
    //-   .Stackednav__trigger.js-nav-trigger
    //-     .Stackednav__bar
    //-     .Stackednav__bar
    //-     .Stackednav__bar

    block home

    


    script(type="text/javascript", src="js/main.js")
