.Grid.Work-item.center
  .Cell.six
    .Work-text.text-center
      .animate.fadeInUp
        h2 Contact Me
        p
          a(href="mailto:&#100;&#114;&#105;&#110;&#107;&#104;&#111;&#114;&#099;&#104;&#097;&#116;&#097;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;") &#100;&#114;&#105;&#110;&#107;&#104;&#111;&#114;&#099;&#104;&#097;&#116;&#097;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;
        p
          a(href="https://twitter.com/drinkhorchata") Twitter 
          | &bull; 
          a(href="https://github.com/josedigital/") Github 
          | &bull; 
          a(href="https://www.linkedin.com/in/alexrdz/") LinkedIn
