extends _layout

block home
  .Grid.Home
    .Cell.six.Left-pane
      .Left-pane__image
      .Left-pane__content.text-center        
        h1.animate.fadeInUpBouncy hi, i'm alex
        p.animate.fadeInDown.delay i design + develop websites for small businesses, artists, nonprofits and other nice people. 
        
    .Cell.six.Right-pane
      .Right-pane__content
        img(src="./img/alexrdz-skull.svg", alt="").Brand
        h1.text-center.Main-title Alex Rodriguez
        h4.text-center.italics UI Designer &amp; Javascript Developer
        p I am a dedicated UI designer and JavaScript developer with a passion for smart design and beautiful code. 
        p My enterprise experience includes user-centric design and development. Personal work and passion projects include sites and applications for small businesses and niche audiences.
