.Grid.Work-1
  .Cell.six.Left-.delay
    .text-center.animate.fadeInUp.delay-2      
      h3 Work 1 title
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat eius laudantium perferendis molestias, provident animi quod, excepturi praesentium est corporis porro esse aliquam quasi. Maxime aliquam esse incidunt! Minus, est.
      
  .Cell.six.Right-
    .animate.fadeInDown.delay-2
      a(href="#").close X
      h1 Work 1 title again
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At pariatur rem unde consequatur illo aperiam iure enim voluptatum odio! Magni labore, repellat cumque modi provident placeat cum illum quod voluptatibus.
