.Grid.Work-item.center
  .Cell.eight
    .Left-pane__content.text-center
      .animate.fadeInUp
        h2 Selected Work
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui aliquid, voluptatem vel. Hic quasi, deleniti magni eaque asperiores! At autem repudiandae soluta nostrum. Rem tempora labore nisi voluptatum ab. Molestiae!
        
