.Grid.Work-item.center
  .Cell.six
    .Work-text
      .animate.fadeInUp
        h2 Selected Work
        p My current position with the City of Austin keeps my busy in a variety of roles including UX &amp; UI design and front end development. The work presented here is work I have done as pro bono freelance work or side projects. Please select from the links below.
        p You can view my code at 
          a(href="https://github.com/josedigital") Github
          |.
