@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Varela+Round');

html
  font-size: responsive;
  min-font-size: 16px;
  max-font-size: 21px;
  line-height: 1.6;
body
  background-color: $main-background;
  color: $brown;
  font-family: 'Libre Baskerville', serif;

h1, h2, h3, h4, h5, h6
  font-family: 'Varela Round', sans-serif;

a,
a:visited
  color: $link-color;
  text-decoration: none;
