/*
 *  Colors
 */

$main-background = #ededed;
$light-blue = #a5cbc3;
$brown      = #736b60;
$link-color = #1d8585;




/*
 *  Breakpoints
 */
// $small: 550px;
// $small-viewport: @media (max-width: $small);
// $medium: 551px;
// $medium-viewport: @media (min-width: $medium);
// $large: 800px;
// $large-viewport: @media (min-width: $large);
