/*
 *  Colors
 */
$lightest   = #f7f7f7;
$light      = #eaeaea;
$light-blue = #a5cbc3;
$brown      = #736b60;
$link-color = #1d8585;


// named colors
$main-background = $light;



/*
 *  Breakpoints
 */
 $small     = 550px;
 $medium    = 820px;
 $large     = 1200px;
