@import '_vars.css';

html {
  font-size: responsive;
  min-font-size: 16px;
  max-font-size: 24px;
  min-line-height: 2;
  max-line-height: 4;
  lower-font-range: 420px;
  upper-font-range: 1280px;
}


$medium-viewport {
  body {
    background: green;
  }
}

$large-viewport {
  body {
    background: #ddd;
    color: #444;
  }
}

