@import '_vars.css';

:root {
  --grid: {
    display: flex;
    flex-wrap: wrap;
  };
  --cell: {
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 0.5rem;
    &:nth-child(1) {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  };
}

.container {
  margin: 0 auto;
  width: 95%;
  $medium-viewport {
    max-width: 1200px;
  }
}
$small-viewport {
  .Grid { flex-direction: column; }
}
.Grid          { @apply --grid; }
.Grid.top      { align-items: flex-start; }
.Grid.middle   { align-items: center; }
.Grid.bottom   { align-items: flex-end; }
.Grid.stretch  { align-items: stretch; }
.Grid.baseline { align-items: baseline; }
.Grid.left     { justify-content: flex-start; }
.Grid.center   { justify-content: center; }
.Grid.right    { justify-content: flex-end; }
.Grid.between  { justify-content: space-between; }
.Grid.around   { justify-content: space-around; }

$medium-viewport {
  .Cell          { @apply --cell; }
  .Cell.fill     { width: 0; min-width: 0; flex-grow: 1; }
  .Cell.one      { width: calc(100% * 1 / 12); }
  .Cell.two      { width: calc(100% * 2 / 12); }
  .Cell.three    { width: calc(100% * 3 / 12); }
  .Cell.four     { width: calc(100% * 4 / 12); }
  .Cell.five     { width: calc(100% * 5 / 12); }
  .Cell.six      { width: calc(100% * 6 / 12); }
  .Cell.seven    { width: calc(100% * 7 / 12); }
  .Cell.eight    { width: calc(100% * 8 / 12); }
  .Cell.nine     { width: calc(100% * 9 / 12); }
  .Cell.ten      { width: calc(100% * 10 / 12); }
  .Cell.eleven   { width: calc(100% * 11 / 12); }
  .Cell.twelve   { width: 100%; }
}
