.Grid.Work-item
  .Cell.six.Left-pane.second
    .Left-pane__content
      .animate.fadeInUp.delay-2
        img(src="/img/portfolio/koala.png", alt="koala app").Portfolio__image
      
  .Cell.fill.Right-pane.first
    .Right-pane__content
      .animate.fadeInDown.delay
        h2.Project__title.uppercase Koala App
        p.Project__role Technical Lead <span class="amp">&amp</span> UI Developer
        p.Project__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. At pariatur rem unde consequatur illo aperiam iure enim voluptatum odio! Magni labore, repellat cumque modi provident placeat cum illum quod voluptatibus.
        
