.Grid.Work-item.animate.slideInLeft
  .Cell.six.Left-pane.second.animate
    .Left-pane__content
      .animate.fadeInUp.delay-3
        img(src="/img/portfolio/koala.png", alt="koala app").Portfolio__image
      
  .Cell.fill.Right-pane.first
    .Right-pane__content
      .animate.fadeInDown.delay-2
        h2.Project__title.uppercase Koala App
        p.Project__role Technical Lead &amp; UI Developer
        p.Project__description Koala is a web app built to help web developers in their job-seeking process. I worked with a team of 3 talented individuals on this full-stack MERN application (MongoDB, ExpressJS, ReactJS, and NodeJS). My role included:
        ul
          li Initial set-up of Express Server and configuration
          li Webpack configuration
          li deployment to Heroku
          li Github repository manager
          li UI/UX design and development
        p.Project__link
          a(href="https://kv3.herokuapp.com/") Koala App
        p.Project__link
          a(href="https://github.com/josedigital/koala-v3") Koala App @ github
