.Grid.Work-item.animate.slideUp
  .Cell.six.Left-pane.second.animate
    .Left-pane__content
      .animate.fadeInUp.delay-3
        img(src="/img/portfolio/le-pages.png", alt="laredo examiners").Portfolio__image
      
  .Cell.fill.Right-pane.first
    .Right-pane__content
      .animate.fadeInDown.delay-2
        h2.Project__title.uppercase Laredo Examiners
        p.Project__role Design
        p.Project__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. At pariatur rem unde consequatur illo aperiam iure enim voluptatum odio! Magni labore, repellat cumque modi provident placeat cum illum quod voluptatibus.
