.Grid.Work-item.animate.slideOutLeft
  .Cell.six.Left-pane.second.animate
    .Left-pane__content
      .animate.fadeInUp.delay-3
        img(src="/img/portfolio/mixtagon.png", alt="the mixtagon").Portfolio__image
      
  .Cell.fill.Right-pane.first
    .Right-pane__content
      .animate.fadeInDown.delay-2
        h2.Project__title.uppercase The Mixtagon
        p.Project__role Design &amp; Development
        p.Project__description This is a personal project site created using 
          a(href="https://processwire.com/") Processwire CMF
          |, an open source PHP framework and Content Management System. The Mixtagon allows members to create playlists by uploading music files and a small narrative. The purpose is to create music playlists based on a theme. Members can challenge each other on a particular theme and compete with their playlists. Playlist audio players are created with
          a(href="https://github.com/kolber/audiojs") audiojs
            |. 
        ul
          li PHP development
          li Javascript development
          li Responsive design
          li Concept and execution
