.Grid.Work-item.animate.slideInLeft
  .Cell.six.Left-pane.second.animate
    .Left-pane__content
      .animate.fadeInUp.delay-3
        img(src="/img/portfolio/noreen-pages.png", alt="noreen naseem rodriguez").Portfolio__image
      
  .Cell.fill.Right-pane.first
    .Right-pane__content
      .animate.fadeInDown.delay-2
        h2.Project__title.uppercase Noreen Naseem Rodriguez
        p.Project__role Design &amp; Development
        p.Project__description Personal website for Noreen Rodriguez. The site will be run by 
          a(href="https://processwire.com/") Processwire CMF
          |. This is a work in progress; no link available yet.
