.Grid.Work-item.animate.slideUp
  .Cell.six.Left-pane.second.animate
    .Left-pane__content
      .animate.fadeInUp.delay-3
        img(src="/img/portfolio/panda.png", alt="panda app").Portfolio__image
      
  .Cell.fill.Right-pane.first
    .Right-pane__content
      .animate.fadeInDown.delay-2
        h2.Project__title.uppercase Panda App
        p.Project__role Technical Lead
        p.Project__description Panda App was created for budding developers, whether on a path of self-study or as part of a group or bootcamp, by providing curated resources, job search and preparation guides, and a code portfolio page to use as a starting point. My role included:
        ul
          li Initial set-up of Express Server and configuration
          li Working with external APIs (Meetup, Dice, The Muse, and Indeed) to provide content
          li Github repository manager
          li UI/UX and front-end development
          li support MySQL database integration
        p.Project__link 
          a(href="https://thepanda.herokuapp.com/") Panda App
        p.Project__link 
          a(href="https://github.com/josedigital/panda") Panda App @ Github
